<!DOCTYPE html>
<html>

<head>
    <title>PC Parts | Parts | <%=part.name%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1><%=part.name%></h1>
    <h2><a href="<%=part.component[0].url%>"><%=part.component[0].name%></a></h2>

    <p><%=part.description%></p>
    <p><strong>$<%=part.price%></strong> (<%=part.stock%> left)</p>
    
    <a href="/parts">Go back</a>
</body>

</html>